@font-face {
  font-family: 'Merienda'; /* Font family name */
  src: url('./../assets/fonts/Merienda-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Merienda';
  src: url('./../assets/fonts/Merienda-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular (default) */
  font-style: normal;
}

@font-face {
  font-family: 'Merienda';
  src: url('./../assets/fonts/Merienda-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Merienda';
  src: url('./../assets/fonts/Merienda-Semibold.ttf') format('truetype');
  font-weight: 600; /* Semibold */
  font-style: normal;
}

@font-face {
  font-family: 'Merienda';
  src: url('./../assets/fonts/Merienda-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Merienda';
  src: url('./../assets/fonts/Merienda-Extrabold.ttf') format('truetype');
  font-weight: 800; /* Extrabold */
  font-style: normal;
}

@font-face {
  font-family: 'Merienda';
  src: url('./../assets/fonts/Merienda-Black.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body{
  color:white;
  background-color: black;
  font-family: 'Merienda', sans-serif; /* Fallback to sans-serif */
  font-weight: 400;
  background-image: radial-gradient(#642B73, rgba(36, 10, 43, 0.8), rgba(0, 0, 0, 0.9));
 }

header{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
h1 {
  font-size: clamp(15px, 5vw, 22px);
}

button.info {
  padding: 5px 15px;
  border-radius: 5px;
  border:none;
  color: white;
  background-color: #642B73;
}

button.info:hover{
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.37);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  flex: 1;
}


.score-container {
  display: flex;
  position: fixed;
  width: 96vw;
  justify-content: space-between;
  padding-inline: 20px
}

/* 

.mycards > .card-container > .cardimg {
  position: absolute;
  top: -18vh;
  left: 53%;
  transform: translateY(-50px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}


.opponentcards > .card-container > .cardimg  {
  position: absolute;
  top: 20vh;
  left: 53%;
  transform: translateY(50%);
  transition: transform 0.5s ease, opacity 0.5s ease;        
}


.mycards > .card-container > .cardimg.animate {
  transform: translate(0%, 225%) !important;
  opacity: 1;
  /* position: relative; */
} */

.opponentcards > .card-container > .cardimg.animate {
  transform: translate(0%, -261%) !important; /* Change based on where the cards need to go */
  opacity: 1;
}

.opponentcards {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column-reverse;
}

.mycards {
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}

h2.player1, h2.player2 {
  opacity: 60%;
  font-size: clamp(12px, 10vw, 15px);
}


.player1 {
  display: flex;
  flex-direction: row-reverse;
}


/* deck of cards */

.deck-of-cards {
  display: flex;
  gap:20px;
  z-index: 1;
}

img.cardimg {
  width: 55px;
  height: auto;
  border-radius: 5px;
}

img.cardimg:hover {
  cursor: pointer;
}

.stack-cards {
  width: 55px;
}



/* Scores */

p.scores{
  display: flex;
  justify-content: center;
}


/* Animations */

